// ────────────── Startup Applications ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Miscellaneous#spawn-sh-at-startup

    // spawn-at-startup "noctalia"
    spawn-at-startup "quickshell" "-c" "niri-caelestia-shell" "-n"
    // background helpers (clipboard watchers, ...) live here
    spawn-at-startup "/home/sockyeh/.config/niri/autostart.sh"
    spawn-at-startup "spotify-launcher"
    spawn-at-startup "firefox"
